/* Globals */
:root {
  --blue: #1992d4;
  --gray: #e2e8f0;
  --gold: #f0b429;
}

/* Fonts */
@font-face {
  font-family: "Pangram Sans Regular";
  src: url("./fonts/PPPangramSans-Regular.ttf");
}

@font-face {
  font-family: "Pangram Sans Medium";
  src: url("./fonts/PPPangramSans-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  background: var(--gray);
  width: 100vw;
  height: 100vh;
  display: flex;

  .mainLeft {
    flex: 1;
    background: var(--blue);
    min-width: 250px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 2;
    margin-right: -15px;
  }

  .mainRight {
    flex: 4;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .nav {
      background: white;
      flex: 1;
    }
    .mainStage {
      flex: 4;
      display: flex;

      .projects {
        flex: 3;
        background: pink;
      }
      .sideBar {
        flex: 1;
      }
    }
  }
}
